[Unit]
Description=Plex Media Server

[Service]
ExecStart=%h/bin/plex_start.sh
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
